body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Sidebar*/
#sidebar{
  width: 400px;
  height: 100vh;
  background-color: rgba(0, 255, 255, 0.5);
}

#header{
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

#sidebar hr{
  margin: 0;
}

#sidebar .chat{
  margin: 2px;
}

#sidebar p{
  padding: 0;
  margin: 0;
}

#sidebar .profile-img img{
  border-radius: 50px;
}

#sidebar .profile-name-msg{
  margin-left: 10px;
  width: 100%;
}

#options{
  position: fixed;
  bottom: 0;
  width:400px;
}

#options button{
  width:200px;
  height: 40px;
  border-color: transparent;
  border-radius: 5px;
  background-color: aqua;
  color: black;
  margin: 5px 0 5px 40px;
}

/*Chat*/
#chat{
  width:100%;
  height: 100vh;
  background-color: azure;
}

#chat-messages{
  height: calc(100vh - 130px);
  overflow: scroll;
  overflow-x: hidden;
}

#chat-messages::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 10px;
  background-color: #F5F5F5;
}

#chat-name {
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

#chat hr{
  margin: 0;
}